<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Devalentine API | Documentation</title>
    <meta name="description" content="This website provides endpoints to Valentine Omonya's portfolio website api. Devalentine provides resources such as  images, projects, stacks, languages, partners, and testimonials. ">
        <link rel="shortcut icon" href="/icons/logo.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header>
            <h4>Valentine Omonya</h4>
            <h2>Devalentine API Documentation</h2>

        </header>
        <main>
            <div class="content-container">

                <section class="overview">
                    <h2>API Overview</h2>
                    <p>The API for my portfolio website is designed to provide a structured and efficient way to
                        manage and serve various resources essential for your portfolio. It includes endpoints for
                        handling images, projects, stacks, languages, partners, and testimonials. Each resource has its
                        dedicated endpoint, ensuring modularity and ease of maintenance.</p>
                    <p>
                        The
                    <pre>`/api/images`</pre>endpoint serves static image files, allowing for seamless integration of
                    visual content into your portfolio. The
                    <pre>`/api/projects</pre>` endpoint, managed by the
                    `projectRouter`, handles the creation, reading, updating, and deletion of project entries,
                    showcasing your work effectively. Additionally, the API includes endpoints for managing stacks
                    <pre>(`/api/stacks`)</pre>, languages
                    <pre>(`/api/languages`)</pre>, partners
                    <pre>(`/api/partners`)</pre>, and testimonials
                    <pre>(`/api/testimonials`)</pre>, each facilitating the management of respective data sets and
                    enhancing
                    the content and credibility of your portfolio.</p>
                    <code></code>
                </section>
                <section class="endpoints">
                    <h2>API Endpoints</h2>
                    <p>NOTE: Only <strong>`GET `</strong> endpoints are available to the public.The other endpoints require the user to be authenticated.</p>
                    <h6>Projects</h6>
                    <p>API endpoint for projects CRUD operations.</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/projects/list</code></pre>
                    <pre><code>POST https://devalentineapi.onrender.app/api/projects/add</code></pre>
                    <pre><code>PUT https://devalentineapi.onrender.app/api/projects/update/{projectId}</code></pre>
                    <pre><code>DELETE https://devalentineapi.onrender.app/api/projects/delete/{projectId}</code></pre>

                    <h6>Tech Stack</h6>
                    <p>API endpoint to get all the stacks</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/stacks/list</code></pre>
                    <pre><code>POST https://devalentineapi.onrender.app/api/stacks/add</code></pre>
                    <pre><code>PUT https://devalentineapi.onrender.app/api/stacks/update/{stackId}</code></pre>
                    <pre><code>DELETE https://devalentineapi.onrender.app/api/stacks/delete/{stackId}</code></pre>

                    <h6>Images</h6>
                    <p>API endpoint to get all images</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/images/{imageName}</code></pre>

                    <h6>Languages</h6>
                    <p>API endpoint to get all the languages</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/languages/list</code></pre>
                    <pre><code>POST https://devalentineapi.onrender.app/api/languages/add</code></pre>
                    <pre><code>PUT https://devalentineapi.onrender.app/api/languages/update/{languagesId}</code></pre>
                    <pre><code>DELETE https://devalentineapi.onrender.app/api/languages/{languagesId}</code></pre>

                    <h6>Partners</h6>
                    <p>API endpoint to get all the partners</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/partners/list</code></pre>
                    <pre><code>POST https://devalentineapi.onrender.app/api/partners/add</code></pre>
                    <pre><code>PUT https://devalentineapi.onrender.app/api/partners/update/{partnerId}</code></pre>
                    <pre><code>DELETE https://devalentineapi.onrender.app/api/partners/delete/{partnerId}</code></pre>

                    <h6>Testimonials</h6>
                    <p>API endpoint to get all the testimonials</p>
                    <pre><code>GET https://devalentineapi.onrender.app/api/testimonials/list</code></pre>
                    <pre><code>POST https://devalentineapi.onrender.app/api/testimonials/add</code></pre>
                    <pre><code>PUT https://devalentineapi.onrender.app/api/testimonials/update/{testimonialsId}</code></pre>
                    <pre><code>DELETE https://devalentineapi.onrender.app/api/testimonials/delete/{testimonialsId}</code></pre>
                </section>
            </div>
        </main>
        <footer>
            <a href="http://devalentineomonya.vercel.app/" target="_blank"> &copy; DevalentineAPI </a>
            <span id="year"></span>
            | <span>All rights reserved.</span>
        </footer>
        <script>
            const year = document.getElementById("year")
            const currentYear = new Date().getFullYear()
            year.innerText = currentYear
        </script>
    </body>

</html>